{
	admin off
	persist_config off
	auto_https off
	log { format json }
	servers {
		trusted_proxies static private_ranges
	}
}

:{$PORT} {
	log { format json }
	
	# Serve custom HTML for /redirect and /redirect/*
	handle /redirect* {
		root * /usr/share/caddy
		try_files /custom.html /custom.html
		file_server
	}
	
	# Proxy all other paths to your Activepieces
	handle {
		reverse_proxy https://activepieces-production-0d12.up.railway.app {
			header_up Host {upstream_hostport}
		}
	}
	
	respond /health 200
}
