# global options
{
	admin off
	persist_config off
	auto_https off
	log { format json }
	servers {
		trusted_proxies static private_ranges
	}
}

# site block
:{$PORT} {
	log { format json }
	
	# Custom HTML for /redirect and subpaths
	handle /redirect* {
		root * /usr/share/caddy
		try_files /custom.html /custom.html
		file_server
	}
	
	# Proxy everything else to Activepieces
	handle {
		reverse_proxy https://activepieces-production-0d12.up.railway.app {
			header_up Host {upstream_hostport}
		}
	}
	
	respond /health 200
}
